<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./search.scss">
</head>
<body>
    <div className="basic-search__container">
        <input placeholder="Loại phòng"></input>
        <input placeholder="Giá cả"></input>
        <input placeholder="Diện tích"></input>
        <button type="submit">TÌM KIẾM</button>
        <div className="basic-search_inner--more">Tìm kiếm nâng cao</div>
    </div>
</body>
</html>