body{
    height: 100%;
    width: 100%;
}
.login__container{
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: auto;
    background: linear-gradient(
        rgba(1, 1, 1, 0.7), 
        rgba(1, 1, 1, 0.7)
      ),url(../../images/banner_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login__inner{
    width: 100%;
    max-width: 350px;
    margin: 170px auto;
}
.login__title{
    text-align: center;
    margin-bottom: 50px;
    color: white;
}
.login__title__main{
    margin: 0px;
    font-size: 40px;
}
.login__title__extra{
    margin: 0px;
    font-size: 15px;
}


::placeholder{
    color: rgba(231, 231, 231, 0.911);
}

.login__input{
    width: 300px;
    border: 1px;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
    display: inline-block;
    height: 35px;
    border-radius: 10px;
    background-color: #1EA4CB;
    opacity: 0.7;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
.inputLogin{
    position: relative;
}
.icon-email {
    position: absolute;
    display: inline-block;  
    right: 50px;
    top: 15px;
    width: 25px;
    height: 25px;
    opacity: 0.4;
    filter: invert(100%);
}
.icon-pass {
    position: absolute;
    display: inline-block;  
    right: 50px;
    bottom: 6px;
    width: 25px;
    height: 25px;
    opacity: 0.4;
    filter: invert(100%);
}


.warning__login{
    width: 25px;
    height: 25px;
    margin: 0 0 -8px 10px;
}

#inputPass{
    margin-top: 20px;
}
.register{
    margin-top: 20px;
    font-size: 15px;
    a{
        color: white;
    }
}
.login__btn{
    text-align: center;
    margin-top: 30px;
}
.login__button{
    width: 150px;
    height: 40px;
    color: white;
    background-color: rgb(0, 115, 150);;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
}
#login__error{
    color: red;
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
}