.navbar{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
}
.navbar__top {
    height: 50px;
    background: rgba(21, 21, 21, 0.96);
}
.navbar-logo {
    width: 164px;
    height: 67px;
    margin-right: 45px;
}
.navbar__container {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
.navbar-nav {
    list-style: none;
    display: inline-block;
    width: 700px;
    display: flex;
    justify-content: space-between;

    li {
        line-height: 71px;
        border-bottom: solid 4px white;
    }

    li a, li{
        display: inline-block;
        font-weight: 400;
        font-size: 1.05rem;
        font-family: 'Open Sans', sans-serif;
        color:  #238FAF;
        text-decoration: none;
    }
    
    li:hover {
        cursor: pointer;
        color: black;
        border-bottom: solid 4px #238FAF;
        
        a {
            color: black;
        }
    }
}