.post-small {
    display: flex;
}
.post-small .post__image {
    width: 130px;
    height: 70px;
    background-image: url('../../../images/banner_2.jpg');
    background-position: center center;
    background-size: cover;
    // margin-bottom: 12px;
    border-radius: 5px;
    text-align: right;
    color: rgba(0, 0, 0, 0.88);
}

.post-small .post__content {
    max-width: 250px;
    .post__title {
        color: black;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0;
    }
    .post__description .post__description--item {
        margin-right: 30px;
    }
}