.postdetail__container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.postdetail-buffer{
    height: 92px;
    margin: 0;
}
.postdetail__right{
    margin-left: 50px;
}
.postdetail__left{
    margin-bottom: 50px;
}
.postdetail__component{
    margin-bottom: 50px;
}