.post {
    margin-bottom: 50px;

    .post__image {
        background-image: url('../../../images/banner_2.jpg');
        height: 10.1rem;
        background-position: center center;
        background-size: cover;
        margin-bottom: 12px;
        border-radius: 5px;
        text-align: right;
        color: rgba(0, 0, 0, 0.88);

        .icon-btn {
            padding: 10px 10px 0px 5px;
        }

        .icon-btn:hover {
            cursor: pointer;
        }
    }

    .post__image:hover {
        box-shadow: 0 5px 9px rgba(7, 25, 56, 0.25);
        transition: opacity .5s ease-in-out;
    }
}

.post__content {
    padding: 0 10px;

    .post__title {
        color: black;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 9px;
        min-height: 49.6px;
    }

    .post__intro {
        color: black;
        margin-bottom: 9px;
    }
}

.post__description--item {
    display: inline-block;
    margin-right: 50px;

    img.post__description--icon {
        width: 22px;
        vertical-align: middle;
    }

    span {
        margin-left: 6px;
    }
}
