.footer {
    background-color: #191c1f;
    color: rgb(231, 228, 228);
    font-family: 'Open Sans', sans-serif;
    padding-top: 60px;
    text-align: center;
}

.footer__header {
    font-size: 2rem;
    font-weight: 700;
}
.footer__container {
    width: 80%;
    margin: auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-contact__inner{
    display: inline-flex;
    align-items: center;
}
.footer-contact__icon {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(231, 228, 228);
    padding: 10px;
    margin-right: 20px;
    text-align: center;
    font-size: 1.9rem;
}
.footer-contact__description{
    font-size: 1rem;
    text-align: left;
    max-width: 280px;
    min-width: 110px;
}

@media(max-width: 1160px) {
    .footer-contact__inner {
        flex-direction: column;
    }
    .footer-contact__icon {
        margin-bottom: 20px;
    }
}

@media(max-width: 720px) {
    .footer__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-contact__inner {
        flex-direction: row;
        margin-bottom: 20px;
    }

    .footer-contact__icon {
        margin-bottom: 0px;
    }

    .footer__header {
        font-size: 1.7rem;
    }

    .footer-contact__description{
        max-width: 205px;
    }
}