$blueColor: #238FAF;

.home-page__container {
  width: 80%;
  margin: auto;
}

.home-buffer {
  height: 92px;
  margin: 0;
}

.web-header {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 2rem;
}

.web-header+hr {
  width: 15rem;
  height: 0.25rem;
  background: $blueColor;
  margin: auto;
  margin-bottom: 100px;
}

.blue {
  color: $blueColor;
}

.posts__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;

  .post {
    max-width: 476px;
    width: 32%;
    min-width: 315px;
  }
}

@media(max-width: 1240px) {
  .home-page__container {
    width: 90%;
    margin: auto;
  }

}

@media(max-width: 1100px) {
  .posts__container .post {
    max-width: 476px;
    width: 49%;
    min-width: 365px;
  }
}

@media(max-width: 840px) {
  .posts__container .post {
    max-width: 700px;
    width: 100%;
    min-width: 330px;

    .post__image {
      height: 300px;
  }
  }
}

@media(max-width: 500px) {
  .posts__container .post .post__image {
      height: 180px;
  }
}